*{
    margin:0px;
    padding: 0px;
         
   
}
.navbar{
    background-color: antiquewhite;
    color:black;
    font-weight: bolder;
}
#container {
    background-color: rgb(33, 21, 21);
    color: goldenrod;
    height:1000px;
    width:auto;
    position:relative;
    padding:30px 100px 100px 100px;
    justify-content: center;
}